@font-face {
  font-family: 'RedFive';
  src: local('☺'), url('../resources/fonts/RedFive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin:0; padding:0;
  width:100%;height:100%;
}

body {
  background-color: #C0C0CA;
}

h1.dc-h {
  position: fixed;
  width: 400px; left: 50%; margin-left: -200px;
  top: 5px;
  text-transform: uppercase;
  text-align: center;
  font: 35px "RedFive";
  color: #E00;
  text-shadow: 0 -2px 2px #fff, 0 2px 2px #000;
}

div#temp {
  position: absolute;
  width: 700px; left:50%; margin-left: -370px;
  height: 200px; top:150px;
  padding: 125px 20px 0 20px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  background-color: #334;
  background: -webkit-gradient(linear, left top, left bottom,
                               from(#334),
                               to(#000));
  background: -moz-linear-gradient(-90deg, #334, #000);
  text-shadow: 0 -2px 0 #000;
  font: 50px 'Lucida Sans';
  color: #FFF;
}